.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 0;
    border-left: 5px solid #5E1914;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
h4 {
    color: #5E1914;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}
